.footer{
    display: flex;
    gap: 15%;
    background-color: var(--bg-color);
    padding:120px 40px ;
    font-size: 20px;
    color:var(--more-color) ;
    .footer-section1{
        h1{
            color: var(--text-color);
            font-size: 64px;
            font-weight: 700;
        }
        span{
        color: var(--aditional-color); 
    }
    }
    .footer-section2{
        display: flex;
        width: 50%;
        justify-content: space-between;
        .column {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            a{
                font-size: 18px;
            }
            :nth-child(1){
                font-size: 16px;
                margin-bottom: 32px!important;
            }
            :nth-child(1n){
                margin-bottom: 18px;
                cursor: pointer;
            }
        }
    }
}

@media (max-width:1000px){
    .footer section h1{
        font-size: 40px;
    } 
    .footer{
        gap: 10%;
    }
}
@media (max-width:750px){ 
    .footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding:47px 32px;
    }
    .footer-section1{
        margin-bottom: 40px;
    }
    .column :nth-child(1n){
        margin-bottom: 8px;
    }
    .footer-section2{
        width: 100%;
        
    }
}