<div id="{{'HIREME' | translate}}" class="footer">
    <section class="footer-section1">
        <h1>Jacob <br> Hofstadter</h1>
        <span>hello&#64;hofstadter.com</span>
    </section>
    <section class="footer-section2">
        <div class="column">
            <a routerLink = "/test">Explore</a>
            <a routerLink = "/test">Work</a>
            <a routerLink = "/test">Blogs</a>
            <a routerLink = "/test">Contact</a>
        </div>
        <div class="column">
            <a routerLink = "/test">Portfolio</a>
            <a routerLink = "/test">Dribbble</a>
            <a routerLink = "/test">Behance</a>
            <a routerLink = "/test">Uplabs</a>
        </div>
        <div class="column">
            <a routerLink = "/test">Social</a>
            <a routerLink = "/test">Facebook</a>
            <a routerLink = "/test">LinkedIn</a>
            <a routerLink = "/test">Instagram</a>
        </div>
    </section>
</div>
