.works-list{
    background-color: #101010;
    padding: 90px 40px 1px 40px;
}
.works-header{
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  color: #FFFFFF7A;

img{
  cursor: pointer;
}
}
.works {
    display: flex;
    flex-wrap: wrap;
    background-color: #101010;
    padding-top: 43px;
  }
  .works :hover{
    background-color: rgb(91, 110, 81);
    opacity: 80%;
  }
  .card {
    width: 40%;
    margin-bottom: 80px;
    background-color: #1A1A1A;
  }
  .card-image img{
    width: 100%;
  }
  .card-content{
    padding: 24.5px 0;
    span{
      color:#FFFFFF7A ;
      font-size: 16px;
    }
  }
  .card-content > h3,span{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 400;
    padding-left:18px;
    margin-left: -10% !important; 
  }

  .works :nth-child(2n){
    margin-left: 10%;
  }
  .works :nth-child(4n - 1),
  .works :nth-child(4n) {
    margin-left: 10%;
  }
  
  
  // RESPONSIVE
  @media (max-width: 750px) {
    .card {
      width: 100%;
      margin: 0 auto 31px auto;
      align-self: center;
    }
  
    .works {
      justify-content: center;
      padding:40px 15px;
    }
    .works :nth-child(1n){
      margin-left: 0;
    }
    .card-content > h3,span{
      margin-left: 0 !important; 
    }
  }