.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
    background-color: var(--bg-color);
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 40px;
        .logo img {
          width: 47px;
          cursor: pointer;
        }
        .menu-icon {
          display: none;
          font-size: 30px;
          cursor: pointer;
        }
        .nav-links {
          display: flex;
          list-style-type: none;
          li {
            margin-left: 50px;
          }
          a {
            color: var(--text-color);
            text-decoration: none;
            font-size: 20px;
            &:hover {
              color: var(--aditional-color);
            }
          }
        }
        .btn-theme, .btn-language{
          border: 0;
          background: none;
        }
        .hire-me {
          color: var(--text-color) !important;
          border: 1px solid var(--aditional-color);
          border-radius: 5px;
          padding: 8px 30px;
          &:hover {
            background-color: var(--aditional-color);
          }
        }
      }
}

  // RESPONSIVE

  @media (max-width: 1200px){
    .navbar nav {
      padding: 15px 20px;
    }
    .nav-links li {
      margin-left: 15px;
    }
  }
  @media (max-width: 850px) {
    .nav-links {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        background-color: var(--bg-color);
        opacity: 95%;
        width: 100%;
        height: 100vh;
        top: 50px;
        left: 0;
        padding: 0 0 10px 0;
        z-index: 1000;
    }

    .nav-links.active {
        display: flex;
        align-items: center;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .menu-icon {
        display: block;
    }
    .btn-language{
      margin-bottom: 15px;
    }
}