.blog{
    background-color: var(--bg-color-lite);
    display: flex;
    flex-direction: column;
    padding: 78px 40px ;
    font-size: 16px;
    color: var(--text-color);
    .works-header{
        display: flex;
        justify-content: space-between;
        color: var(--more-color);
        margin-bottom: 40px;
    img{
        cursor: pointer;
        margin-left: 8px;
    }
    }
    .blog-card-container{
        display: flex;
        gap: 30px;
        .card{
            width: 100%;
            padding: 0px 24px 28px 24px;
            background-color: var(--bg-color);
            .paragraph{
                margin-bottom: 24px;
                min-height: 300px;
                max-height: 300px;
                overflow-y: auto;
                &::-webkit-scrollbar {
                    width: 4px;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: #888;
                    border-radius: 5px;
                }
            }
            .person-img{
                display: flex;
                justify-content: flex-end;
                margin-bottom: 12px;
                height: 60px;
            }
            .about h3 {
                color: white;
            }
            .about span{
                color: var(--more-color);
            }
        }
    }
}

// RESPONSIVE

@media (max-width: 750px) {
    .blog-card-container {
        display: block; 
    }
    .card {
        margin: 0 auto;
        width: 70%;
    }
}