.works-header{
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    color: var(--more-color);
    margin-bottom: 40px;
img{
    cursor: pointer;
    margin-left: 8px;
}
}
.blog{
    background-color: var(--bg-color-lite);
    display: flex;
    flex-direction: column;
    padding: 78px 40px ;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
}
.blog-card-container{
    display: flex;
    gap: 30px;
}
.card{
    width: 100%;
    padding: 0px 24px 28px 24px;
    background-color: var(--bg-color);
}
.paragraph{
    margin-bottom: 24px;
    
    min-height: 176px;
}
.person-img{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 12px;
}
.about h3{
    font-weight: 400;
}
.about span{
    color: var(--more-color);
    font-weight: 400;
    font-size: 14px;
}

// RESPONSIVE

@media (max-width: 750px) {
    .blog-card-container {
        display: block; 
    }
    .card {
        margin: 0 auto;
        width: 70%;
    }
}