/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Syne';
    src: url('../public/assets/fonts/Syne/Syne-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
@font-face {
font-family: 'Syne';
src: url('../public/assets/fonts/Syne/Syne-Bold.ttf') format('truetype');
font-weight: 700;
font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  font-family: 'Syne', sans-serif;
  font-size: 16px; 
  font-weight: 400;
}
body {
    box-sizing: border-box;
    width: 100%;
  }

body.light-theme {
  --bg-color: #3f3f3f;
  --bg-color-lite:#7b7979;
  --text-color: #ffffff;
  --more-color: #FFFFFF7A;
  --aditional-color:#B8EC4C;
}
body.dark-theme {
  --bg-color: #121212;
  --bg-color-lite:#1A1A1A;
  --text-color: #FFFFFF7A;
  --more-color: #FFFFFF7A;
  --aditional-color:#B8EC4C;
}

html {
    scroll-behavior: smooth;
  }