<div id="footer" class="footer">
    <section class="footer-section1">
        <h1>Jacob <br> Hofstadter</h1>
        <span>hello&#64;hofstadter.com</span>
    </section>
    <section class="footer-section2">
        <div class="column">
            <span>Explore</span>
            <span>Work</span>
            <span>Blogs</span>
            <span>Contact</span>
        </div>
        <div class="column">
            <span>Portfolio</span>
            <span>Dribbble</span>
            <span>Behance</span>
            <span>Uplabs</span>
        </div>
        <div class="column">
            <span>Social</span>
            <span>Facebook</span>
            <span>LinkedIn</span>
            <span>Instagram</span>
        </div>
    </section>
</div>
